@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* *Loading spinner component styles */
svg.loading-spinner {
  /* width: 3.75em; */
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

svg.loading-spinner circle {
  fill: none;
  stroke: #fc2f70;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

/** Loading Dots component styles */
.loading-dots {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.loading-dots div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #fc2f70;
  animation: fade 0.8s ease-in-out alternate infinite;
}

.loading-dots div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.loading-dots div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/** Button styles */
/*? Button 1 */
/* From Uiverse.io by doniaskima */
.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  /* border: 0 solid; */
  box-sizing: border-box;
}

.btn-1 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;

  font-size: 100%;
  font-weight: 900;
  height: 100%;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;

  display: flex;
  align-items: center;
}

.btn-1:disabled {
  cursor: default;
}

.btn-1:-moz-focusring {
  outline: auto;
}

.btn-1 svg {
  display: block;
  vertical-align: middle;
}

.btn-1 [hidden] {
  display: none;
}

.btn-1 {
  border-radius: 8px;
  overflow: hidden;
  padding: 0.8rem 32px;
  position: relative;
}

.btn-1 span {
  mix-blend-mode: difference;
}

.btn-1:after,
.btn-1:before {
  background: linear-gradient(90deg,
      #fff 25%,
      transparent 0,
      transparent 50%,
      #fff 0,
      #fff 75%,
      transparent 0);
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-1:after {
  --progress: -100%;
  background: linear-gradient(90deg,
      transparent 0,
      transparent 25%,
      #fff 0,
      #fff 50%,
      transparent 0,
      transparent 75%,
      #fff 0);
  z-index: -1;
}

.btn-1:hover:after,
.btn-1:hover:before {
  --progress: 0;
}

/*? Button 2 */
/* From Uiverse.io by cssbuttons-io */
.btn-2 {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: red;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.btn-2,
.btn-2 span {
  transition: 200ms;
}

.btn-2 .text {
  padding-left: 16px;
  color: white;
  font-weight: bold;
}

.btn-2 .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-2 svg {
  width: 15px;
  fill: #eee;
}

.btn-2:hover {
  background: #ff3636;
}

.btn-2:hover .text {
  color: transparent;
}

.btn-2:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.btn-2:focus {
  outline: none;
}

.btn-2:active .icon svg {
  transform: scale(0.8);
}

/*? Button 3*/

/* From Uiverse.io by Gaurav-WebDev */
/* From Uiverse.io by CristianMontoya98 */
.btn-3 {
  width: fit-content;
  height: fit-content;
  margin: 0.5em;
  background: black;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: cneter;
}

.btn-3:hover {
  color: black;
}

.btn-3:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-3:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


/* * Social links 1 */

/* From Uiverse.io by aadium */
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 8px #00000027;
  padding: 8px 4px;
  border-radius: 2.5em;
  /* scale: .5; */
  transform-origin: right;
  width: fit-content
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width:25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 4px 2px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 10px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 12px;
  height: 12px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/** Social Links 2 */
/* From Uiverse.io by ubaidi10 */
.card2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

/* Facebook*/
.containerFour:hover {
  background-color: #4267B2;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.containerFive:hover {
  background-color: #840884;
  transition-duration: 0.3s;
  transform: scale(1.5);
  border-radius: 15px;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top-2 0.3s both;
}

@keyframes slide-in-top-2 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/** Social links 3 */
/* From Uiverse.io by 0800Gonza */
.card3 {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

/* for all social containers*/
.socialContainer3 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 1s;
}

/* instagram*/
.container3One:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.container3Two:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.container3Three:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.container3Four:hover {
  background-color: #4267b2;
  transition-duration: 0.3s;
}

.container3Five:hover {
  background-color: #007bff;
  transition-duration: 0.3s;
}

.socialContainer3:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg3 {
  width: 17px;
}

.socialSvg3 path {
  fill: rgb(255, 255, 255);
}

.socialContainer3:hover .socialSvg3 {
  animation: slide-in-top-3 0.3s both;
}

@keyframes slide-in-top-3 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/** Back to top button */
/* From Uiverse.io by vinodjangid07 */
.back-to-top-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.back-to-top-svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.back-to-top-svgIcon path {
  fill: white;
}

.back-to-top-button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.back-to-top-button:hover .back-to-top-svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);

}

.back-to-top-button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.back-to-top-button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}